@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CenturyGothic;
  src: url('../assets/fonts/SVN-CenturyGothic-Regular.ttf');
}

@font-face {
  font-family: CenturyGothic Bold;
  src: url('../assets/fonts/SVN-CenturyGothic-Bold.ttf');
}

@layer base {
  body {
    @apply font-centuryGothic;
  }
}
